<div class="issues container">
    <h1 class="page-header"><%= t :issues %></h1>

    <table class="table table-striped table-hover">
        <thead>
            <th><%= t :summary %></th>
            <th><%= t :version %></th>
            <th><%= t :reported_by %></th>
        </thead>
        <tbody>
        <% @issues.each do |issue| %>
            <tr>
                <td><%= link_to issue.summary, project_issue_path(current_project.slug, issue.id) %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
