<div class="issue container">
  <div class="issue">
    <h1 class="page-header">#<%= @issue.id %>: <%= @issue.summary %></h1>
    <dl class="issue-properties">
      <dt><%= t :type %></dt>
      <dd><%= @issue.type.name %></dd>

      <dt><%= t :status %></dt>
      <dd><%= @issue.status.name %></dd>

      <dt><%= t :version %></dt>
      <dd><%= @issue.version.name %></dd>
    </dl>
    <div class="issue-description">
      <%= markdown @issue.description %>
    </div>
  </div>
</div>
