<div class="project-settings versions container">
    <div class="pull-right">
        <%= link_to fa('plus', t(:new_version)), new_project_settings_version_path, class: 'btn btn-success' %>
    </div>

    <h1 class="page-header"><%= t :versions %></h1>

    <table class="table table-striped table-hover">
        <thead>
            <th>Version</th>
            <th>Codename</th>
            <th></th>
        </thead>
        <tbody>
        <% @versions.each do |version| %>
            <tr>
                <td><%= link_to version.name, edit_project_settings_version_path(project_slug: current_project.slug, id: version) %></td>
                <td></td>
                <td>
                    <div class="text-right">
                        <%= link_to fa('pencil', t(:edit)), edit_project_settings_version_path(project_slug: current_project.slug, id: version), class: 'btn btn-warning btn-xs' %>
                        <%= link_to fa('trash', t(:delete)), project_settings_version_path(project_slug: current_project.slug, id: version), class: 'btn btn-danger btn-xs', method: :delete %>
                    </div>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
