<div class="register content">
  <div class="row">
    <div class="col span-6 offset-3">
      <h2 id="page-title"><%=t :register %></h2>
      <%= form_for @user, url: register_path, html: { class: 'form-horizontal' } do |f| %>
        <%= error_messages_panel_for @user %>
        <div class="box">
          <div class="form-group">
            <%=f.label :name, class: 'control-label col span-3' %>
            <div class="col span-9">
              <%=f.text_field :name, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%=f.label :username, class: 'control-label col span-3' %>
            <div class="col span-9">
              <%=f.text_field :username, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%=f.label :email, class: 'control-label col span-3' %>
            <div class="col span-9">
              <%=f.email_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%=f.label :password, class: 'control-label col span-3' %>
            <div class="col span-9">
              <%=f.password_field :password, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">

            <div class="col span-9 offset-3">
              <%=f.password_field :password_confirmation, class: 'form-control', placeholder: t(:confirm_password) %>
            </div>
          </div>
        </div>
        <div class="actions">
          <%=f.submit t(:create_account), class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
