<div class="register content">
	<div class="row">
		<div class="col span-6 offset-3">
			<h2 id="page-title"><%=t :register %></h2>
			<%= form_for @user, url: register_path, html: { class: 'tabular' } do |f| %>
				<%= error_messages_panel_for @user %>
				<div class="box">
					<div class="control-group">
						<%=f.label :name, t(:name), class: 'control-label' %>
						<div class="controls">
							<%=f.text_field :name %>
						</div>
					</div>
					<div class="control-group">
						<%=f.label :username, t(:username), class: 'control-label' %>
						<div class="controls">
							<%=f.text_field :username %>
						</div>
					</div>
					<div class="control-group">
						<%=f.label :email, t(:email), class: 'control-label' %>
						<div class="controls">
							<%=f.email_field :email %>
						</div>
					</div>
					<div class="control-group">
						<%=f.label :password, t(:password), class: 'control-label' %>
						<div class="controls">
							<%=f.password_field :password %>
						</div>
					</div>
					<div class="control-group">
						<%=f.label :password_confirmation, t(:confirm_password), class: 'control-label' %>
						<div class="controls">
							<%=f.password_field :password_confirmation %>
						</div>
					</div>
				</div>
				<div class="actions">
					<%=f.submit t(:create_account) %>
				</div>
			<% end %>
		</div>
	</div>
</div>
