<div class="admin edit project container">
    <h1 class="page-header"><%= t :edit_project %></h1>

    <%= error_messages_for @project %>

    <%= form_for [:admin, @project], html: { class: 'form-horizontal' } do |f| %>
        <%= render 'form', f: f, project: @project %>

        <div class="form-actions">
            <%= f.submit t(:save), class: 'btn btn-success' %>
        </div>
    <% end %>
</div>
