<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/meta_nav' %>
    <div id="header">
      <div class="container">
        <h1><%=link_to setting(:title), root_path %></h1>
        <%= render partial: 'layouts/nav' %>
      </div>
    </div>
    <div id="page">
      <div class="container">
        <%= flash_messages %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
