<!DOCTYPE html>
<html>
	<head>
		<title>Milestone</title>
		<%= stylesheet_link_tag "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="header">
			<div class="container">
				<h1></h1>
			</div>
		</div>
		<div id="page">
			<div class="container">
				<%=render 'layouts/flash_messages' %>
				<%= yield %>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<%=raw t(:copyright) %>
			</div>
		</div>
	</body>
</html>
